---
title: Projects
---

<!-- Reference CSS files directly in the layout -->
<head>
  <title>{{ page.title }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ site.baseurl }}/assets/img/favicon.webp" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
</head>

<!-- Header Section -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <!-- LOGO Header -->
    <a href="{{ site.baseurl }}" class="logo"><img src="{{ site.baseurl }}/assets/img/logo.webp" alt="" class="img-fluid"></a>
    <h1 class="logo">{{ page.category }}</h1>

    <!-- Nav Bar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="https://leonardoferrisi.com/">Home</a></li>
        <li><a class="nav-link scrollto" href="https://leonardoferrisi.com/#about">About</a></li>
        <li><a class="nav-link scrollto" href="https://leonardoferrisi.com/#work">Work</a></li>
        <li><a class="nav-link scrollto" href="https://leonardoferrisi.com/#contact">Contact</a></li>  
        <li><a class="nav-link scrollto" href="https://github.com/LeonardoFerrisi">Github</a></li>
        <li><a class="nav-link scrollto" href="https://www.linkedin.com/in/leonardo-ferrisi/">LinkedIn</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Primary Project Title Section ======= -->
<div class="route bg-image-short" style="background-image: url({{ site.baseurl }}/assets/img/dark-bkgrnd-short.webp);">
  <div class="container">
    <h1 class="project-title">{{ page.title }}</h1>      
  </div>
</div>
<!-- End Hero Section -->

<!-- Main Content Section -->
<main id="main" style="margin-top: 100px;"> <!-- Adjust margin to prevent navbar overlap -->
  <div class="container">
    <h2><b>projects/{{ page.title }}</b></h2>
    <p>{{ page.date | date_to_string }}</p>
    <br>
    <div>
      {{ content }}
    </div>
  </div>
</main>